.Weather {
    background-color: rgb(194, 178, 178);
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
  }
  
.WeatherInfo {
    opacity: 0.6;
    margin-left: 5px;
    padding: 0px 50px 50px 50px;
  }

.unit,
a:active,
a:hover,
a:visited {
    display: inline-block;
    text-decoration: none;
    transition: 0.2s;
    color: blueviolet;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -25px
  }

.temp {
    font-size: 50px;
}